#root,html,body{
    height:100vh;
    padding:2%;
    font-family: 'Open Sans Condensed', sans-serif;
}
body{
    margin:0;
    background-color:whitesmoke;
    font-family: 'Open Sans Condensed', sans-serif;
}
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}